// Colors
$main-color: #4267b2;
$main-color-light: #5383e2;
$main-color-dark: #3b5ca0;
$main-color-disabled: #9cb4d8;
$hover-color: #e1e4e7;
$background-color: #e9ebee;
$background-dark: #242424;
$border-color-light: #dddfe2;
$border-color: #ccd0d5;
$border-color-dark: #28477b;
$invalid-color: #a94442;
$invalid-background-color: #f2dede;
$invalid-border-color: #ebccd1;
$placeholder: #8d949e;
$placeholder-focus: #ccd0d5;
$grey-label-light: #8d949e;
$grey-label: #616770;
$grey-label-dark: #1d2129;