// Colors
$main-color-light: var(--main-color-light);
$main-color: var(--main-color);
$main-color-dark: var(--main-color-dark);
$main-color-disabled: var(--main-color-disabled);
$background-color-light: var(--background-color-light);
$background-color: var(--background-color);
$background-dark: var(--background-dark);
$border-color-light: var(--border-color-light);
$border-color: var(--border-color);
$border-color-dark: var(--border-color-dark);
$invalid-color: var(--invalid-color);
$invalid-background-color: var(--invalid-background-color);
$invalid-border-color: var(--invalid-border-color);
$placeholder: var(--placeholder);
$placeholder-focus: var(--placeholder-focus);
$grey-label-lighter: var(--grey-label-lighter);
$grey-label-light: var(--grey-label-light);
$grey-label: var(--grey-label);
$grey-label-dark: var(--grey-label-dark);
$grey-label-darker:var(--grey-label-darker);
$grey-label-darkest: var(--grey-label-darkest);
$background-white: var(--background-white);
$color-white: var(--color-white);
$color-black: var(--color-black);
