// Colors
$main-color: #4267b2;
$main-color-light: #5383e2;
$main-color-dark: #2d4679;
$main-color-disabled: #9cb4d8;
$background-color: #e9ebee;
$border-color: #dddfe2;
$invalid-color: #a94442;
$invalid-background-color: #f2dede;
$invalid-border-color: #ebccd1;
$grey-label: #616770;
