.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
  padding: 2rem 1.5rem;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.auth-form h1 {
  margin: 1rem 0;
  text-align: center;
}

.auth-form input {
  background: #e9ebee;
  border-radius: 5px;
  padding: .2rem .5rem;
  box-sizing: border-box;
  outline: none;
}

.auth-form input.invalid {
  background: #f2dede;
}

.auth-form button {
    width: 60%;
    margin: 2rem auto;
    display: block;
}

.auth-form button:disabled,
.auth-form button:disabled:hover {
  cursor: not-allowed;
  background: #2d4679;
  color: #999999;
}

.auth-form a {
    color: #4267b2;
    text-decoration: none;
    font-weight: 600;
}

.auth-form a:hover,
.auth-form a:active {
    color: #5383e2;
}
