@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

.profile__container {
  width: 50rem;
  max-width: 100%;
  margin: -1.5rem auto 0 auto;
  padding: 0;
}

.profile__header {
  position: relative;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 3px;

  .follow__button {
    position: absolute;
    bottom: 3.5rem;
    right: 1.5rem;
  }

  ul {
    display: flex;
    align-self: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    background: $background-white;
    border-radius: 3px;
  }

  li:first-child {
    margin-left: 13.5rem;
    border-left: 1px solid $border-color;
  }

  li {
    color: $main-color;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    border-right: 1px solid $border-color;
    cursor: pointer;
    position: relative;

    .number {
      color: $grey-label-light;
      font-size: 0.7rem;
    }

    &.active {
      background: $background-color;
    }
    &.active::before {
      @include triangle(top, $border-color-dark, 0.3rem);
      position: absolute;
      left: 50%;
      bottom: 0;
    }

    &:hover {
      background: $background-color-light;
    }
  }
}

.profile-cover {
  margin-bottom: -0.3rem;
  img {
    max-width: 100%;
    border-bottom: 1px solid $border-color;
  }
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  border: 1px solid $border-color;
  border-radius: 50%;
  background: $background-white;
  padding: 0.2rem;

  .avatar__container {
    margin: 0 !important;
  }
}

.profile-username__label {
  position: absolute;
  bottom: 3.5rem;
  left: 13.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
