@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

.comments__container {
  border: 1px solid $border-color-light;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  background: white;
  padding: 0.5rem;

  .loadMoreComments {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 0 .3rem 1rem .3rem;

    &:hover label:first-child {
      text-decoration: underline;
    }

    label:first-child {
      cursor: pointer;
      color: $main-color-dark;
    }

    label:last-child {
      cursor: pointer;
      color: $grey-label;
    }
  }
}

.create-comment__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;

  form {
    flex: 1;

    input {
      width: calc(100% - 1rem);
      border-radius: 50px;
      padding: 0.45rem;
      outline: none;
      background: $background-color;
      border: 1px solid $border-color;
    }
  }
}

.comment__container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.7rem;

  &:hover {
    .dropdown__container {
      visibility: visible;
    }
  }

  .comment__layout {
    display: flex;
    flex-direction: column;

    .comment__content {
      background: $background-color;
      border-radius: 20px;
      padding: 0.4rem 0.5rem;
      font-size: 0.9rem;

      a {
        margin-right: 0.5rem;
      }
    }

    .timesince label {
      padding-left: 0.5rem;
    }
  }

  .dropdown__container {
    align-self: flex-start;
    margin-left: auto;
    position: relative;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    visibility: hidden;
  }

  .dropdown__menu {
    color: $grey-label-light;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .dropdown__content {
    top: 1.2rem;
    right: 0;

    @include menu__listitem;
  }

  .comment__dropdownmenu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    label {
      font-weight: 600 !important;
    }
  }
}
