@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

:root {
  --main-color: #4267b2;
  --main-color-light: #5383e2;
  --main-color-dark: #3b5ca0;
  --main-color-disabled: #9cb4d8;
  --main-color-flash: #0084ff;
  --background-color-light: #f5f6f7;
  --background-color: #e9ebee;
  --background-dark: #242424;
  --border-color-light: #dddfe2;
  --border-color: #ccd0d5;
  --border-color-dark: #28477b;
  --invalid-color: #a94442;
  --invalid-background-color: #f2dede;
  --invalid-border-color: #ebccd1;
  --placeholder: #8d949e;
  --placeholder-focus: #ccd0d5;
  --grey-label-lighter: #c7cbcf;
  --grey-label-light: #8d949e;
  --grey-label: #616770;
  --grey-label-dark: #4b4f56;
  --grey-label-darker: #444950;
  --grey-label-darkest: #1d2129;
  --background-white: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;
  font-size: 16px;

  @include for-size(phone-portrait-only) {
    font-size: 12px;
  }
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
  color: $color-black;
}

.form-control {
  margin-bottom: 1rem;

  input.invalid {
    background: $invalid-background-color;
  }
}

.form-actions button,
.btn {
  background: $main-color;
  font: inherit;
  border: 1px solid $main-color;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;

  &:hover,
  &:active {
    background: $main-color-light;
    border-color: $main-color-light;
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    background: $main-color-disabled;
    border-color: $main-color-disabled;
    color: #eeeeee;
  }
}

.hr {
  height: 0;
  width: 80%;
  margin: 2rem auto;
  border-top: 1px solid #a7a7a7;
}

.error {
  color: $invalid-color;
  background: $invalid-background-color;
  border: 1px solid $invalid-border-color;
  border-radius: 5px;
  padding: 0.5rem;
}

::placeholder {
  color: $placeholder;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: $placeholder-focus;
}

a.profile-link {
  color: $main-color;
  font-weight: 600;
  text-decoration: none;
}
