@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

.main-navigation__header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.5rem;
  background: $main-color;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color-dark;
}

.main-navigation__container {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-navigation__logo a {
  text-decoration: none;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  color: $color-white;
}

.main-navigation__items {
  margin-left: auto;

  > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    
    .dropdown__content::before {
      @include triangle(top, white, 0.3rem);
      position: absolute;
      right: 30%;
      bottom: 100%;
    }

    .main-navigation__item {
      margin: 0;

      &:hover {
        background: $main-color-dark;
        border-radius: 1px;
      }

      > a,
      > button,
      > label {
        padding: 0.45rem 1.3rem;
        margin: 0;
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        color: $color-white;
        text-decoration: none;
        outline: none;
        font: inherit;
        font-size: 0.8rem;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .main-navigation__linkmenu label {
    padding: 0.18rem 1.3rem !important;
  }

  .main-navigation__dropdownmenu {
    margin: 0;
    padding: 0;

    @include menu__listitem;
  }

  .darkmode-switch_container {
    display: flex;
    align-items: center;

    label {
      margin-right: 1rem !important;
    }

    &:hover .toggleSwitch__container {
      border-color: $color-white;
    }
  }

  div.separator {
    width: 0;
    height: 1rem;
    padding: 0;
    border-left: 1px solid $main-color-dark;
  }
}
