@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

.create-post__container {
  border: 1px solid $border-color-light;
  border-radius: 5px;
  background: white;
  padding: 0;

  .create-post__title {
    font-size: 0.75rem;
    font-weight: 600;
    color: $grey-label-dark;
    background: $background-color-light;
    margin: 0;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid $border-color-light;
  }

  .create-post__content {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;

    textarea {
      border: none;
      resize: none;
      outline: none;
      width: calc(100% - 1rem);
      padding: 0.5rem;
    }
  }

  .create-post-actions {
    display: flex;
    margin: 0.3rem 0.5rem;
  }

  select,
  option {
    color: $grey-label-dark;
    font-weight: 700;
    font-size: 0.8rem;
    background: $background-color-light;
    border: 1px solid $border-color;
    border-radius: 3px;
    outline: none;
    padding: 0.3rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  button {
    flex: 1;
  }
}

.post__container {
  border: 1px solid $border-color-light;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  padding: 1rem 1rem 0 1rem;
  margin-top: 1rem;

  .dropdown__container {
    align-self: flex-start;
    margin-left: auto;
    position: relative;
  }

  .dropdown__menu {
    color: $grey-label;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .dropdown__content {
    top: 1.2rem;
    right: 0;

    @include menu__listitem;
  }

  .post__dropdownmenu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    svg {
      font-size: 0.8rem;
      margin-right: 0.3rem;
      color: $grey-label-dark;
      width: 1.5rem;
    }
  }

  pre {
    font-family: inherit;
  }

  .post-info__container {
    display: flex;
    align-items: center;

    a {
      display: block;
    }

    label {
      color: $grey-label;
      font-size: 0.7rem;
      font-weight: 200;
    }
  }

  .post__content {
    margin-top: 0.5rem;

    pre {
      white-space: pre-wrap;
    }
  }

  .post-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .post-likes__container {
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      user-select: none;
      position: relative;

      &:hover .tooltip {
        display: block;
      }

      .post-likes {
        background: $main-color;
        border-radius: 50px;
        color: white;
        font-size: 0.6rem;
        padding: 0.3rem;
      }
      
      label {
        color: $grey-label-light;
        margin-left: 0.4rem;
        font-size: 0.9rem;
      }
    }

    .post-comments__link {
      color: $grey-label-light;
      font-size: 0.9rem;
      cursor: pointer;
      user-select: none;
      position: relative;
      display: inline-block;
      margin-left: auto;
  
      &:hover {
        text-decoration: underline;
  
        .tooltip {
          display: block;
        }
      }
    }

    .tooltip {
      display: none;
      position: absolute;
      top: 1rem;
      background: $background-dark;
      color: white;
      padding: 0.4rem;
      font-size: 0.8rem;
      border-radius: 3px;
    }
  }

  .post-actions__container {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid $border-color-light;

    button {
      flex: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      background: white;
      padding: 0.5rem;
      color: $grey-label;
      font-weight: 600;
      cursor: pointer;

      &.liked {
        color: $main-color-dark;
      }

      &:hover {
        background: $background-color-light;
      }

      svg {
        margin-right: 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
}
