@import 'utilities/variables.scss';
@import 'utilities/mixins.scss';

.create-post__container {
  border: 1px solid $border-color-light;
  border-radius: 5px;
  background: white;
  padding: 0;

  .create-post__title {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4b4f56;
    background: #f5f6f7;
    margin: 0;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid $border-color-light;
  }

  .create-post__content {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;

    textarea {
      border: none;
      resize: none;
      outline: none;
      width: calc(100% - 1rem);
      padding: 0.5rem;
    }
  }

  button {
    width: 80%;
    margin: 0 auto 0.5rem auto;
    display: block;
  }
}

.post__container {
  border: 1px solid $border-color-light;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  padding: 1rem;
  margin-top: 1rem;

  .dropdown__container {
    align-self: flex-start;
    margin-left: auto;
  }

  .dropdown__menu {
    color: $grey-label;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .dropdown__content {
    top: 1.2rem;
    right: 0;

    @include menu__listitem;
  }

  .post__dropdownmenu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    label {
      font-weight: 600 !important;
    }
  }

  pre {
    font-family: inherit;
  }

  .post-info__container {
    display: flex;
    align-items: center;

    a {
      display: block;
    }

    label {
      color: $grey-label;
      font-size: 0.7rem;
      font-weight: 200;
    }
  }

  .post__content {
    margin-top: 0.5rem;
  }
}
