@import 'utilities/variables.scss';

.profile__container {
  width: 50rem;
  max-width: 100%;
  margin: -1.5rem auto 0 auto;
  padding: 0;

  .profile__header {
    position: relative;
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 3px;

    .profile-cover {
      margin-bottom: -0.3rem;
      img {
        max-width: 100%;
        border-bottom: 1px solid $border-color;
      }
    }

    .profile-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      border: 1px solid $border-color;
      border-radius: 50%;
      background: white;
      padding: 0.2rem;

      .avatar__container {
        margin: 0 !important;
      }
    }

    .profile-username__label {
      position: absolute;
      bottom: 3.5rem;
      left: 13.5rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .follow__button {
      position: absolute;
      bottom: 3.5rem;
      right: 1.5rem;
    }

    ul {
      display: flex;
      align-self: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;
      background: white;
      border-radius: 3px;

      li:first-child {
        margin-left: 13.5rem;
        border-left: 1px solid $border-color;
      }

      li {
        color: $main-color;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.7rem 1rem;
        border-right: 1px solid $border-color;
        cursor: pointer;

        .number {
          color: $grey-label-light;
          font-size: 0.7rem;
        }

        &.active {
          background: $background-color;
        }

        &:hover {
          background: $background-color-light;
        }
      }
    }
  }

  .timeline__container {
    width: 35rem;
    max-width: 100%;
    margin: 0.5rem auto;
    padding: 0;
  }

  .about__container {
    margin-top: 1rem;

    .about-title {
      background: $background-color-light;
      border: 1px solid $border-color;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 1rem;

      .fa-user {
        color: $grey-label-light;
        font-size: 1.5rem;
        margin-right: 1rem;
      }

      label {
        color: $grey-label-dark;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }

    .about-content {
      background: white;
      border: 1px solid $border-color;
      border-top: none;
      display: flex;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      .about-menu {
        color: $grey-label-light;
        font-size: 0.9rem;
        border-right: 1px solid $border-color;
        min-width: 15rem;

        div {
          margin: 1.5rem 0;
          padding-left: 1rem;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }

        .active {
          border-left: 2px solid $main-color-dark;
          font-weight: 800;
          color: black;
        }
      }

      .about-infos {
        display: flex;
        flex: 1;

        .info__container {
          display: flex;
          margin-left: 1rem;

          div {
            padding: 0.3rem;
            margin: 0.7rem;
            display: flex;
            align-items: center;
          }

          .icon {
            border: 1px solid $grey-label-lighter;
            border-radius: 3px;
            color: $grey-label-lighter;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .unknown {
            color: $grey-label-light;
          }
        }

        .infos_title {
          color: $grey-label-light;
          margin: 1rem 1.5rem 0.5rem 1.5rem;
          border-bottom: 1px solid $grey-label-lighter;
        }

        .infos-overview {
          align-self: center;

          .info__container {
            border-bottom: 1px solid $grey-label-lighter;
          }
          :last-child {
            border: none;
          }
        }

        .infos-work {
          flex: 1;
        }

        .infos-places {
          flex: 1;
        }
      }
    }
  }

  .userlist__container {
    margin-top: 1rem;

    .userlist-title {
      background: $background-color-light;
      border: 1px solid $border-color;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: $grey-label-dark;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1rem;

      label {
        margin-left: 1rem;
      }
    }

    .usercards_container {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      background: white;
      border: 1px solid $border-color;
      border-top: none;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 1rem;
    }

    .usercards-empty {
      color: $grey-label-light;
    }
  }

  .usercard__container {
    border: 1px solid $border-color-light;
    background: white;
    display: flex;
    align-items: center;
    color: $main-color-dark !important;

    .follow__button {
      margin-left: auto;
      margin-right: 1rem;

    }

    label {
      color: $grey-label-light;
      font-size: .6rem;
      display: block;
    }
  }
}
