@import 'utilities/variables.scss';

.toggleSwitch__container {
  position: relative;
  width: 2rem;
  height: 1rem;
  border: 1px solid $border-color;
  border-radius: 50px;
  padding: 0;
}

.toggleSwitch-switch {
  position: absolute;
  height: 100%;
  width: 1rem;
  background: $background-color;
  border-radius: 50px;
  margin: 0;
  transition: left .25s;
}