@import '../utilities/variables.scss';

input.searchbar {
  border-radius: 3px;
  border: 1px solid $border-color;
  padding-left: 0.5rem;
  height: 1.3rem;
  width: calc(100% - 0.5rem);
  outline: none;
  background: $background-white;
  color: $color-black;
}

.search-result__container {
  background: $background-white;
  color: black;
  position: absolute;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $border-color;
  top: 100%;
  left: 1rem;
}

.search-result {
  cursor: pointer;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: $color-black;

  a {
    text-decoration: none;
    color: $color-black;
  }

  &:hover {
    background-color: $background-color;
  }
}
